body {
    background: #b4b4b4 url("../images/pink_flowers.png") no-repeat center/cover;
    background-attachment: fixed;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 68%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 3%;
}

.header__heading {
    padding-top: 96px;
    margin-bottom: 46px;
    font-size: 2rem;
    color: #a11414;
}

.header__heading--special {
    font-weight: 700;
    text-transform: uppercase;
}

.header__img {
    padding: 1% 0.9%;
    border: 1px solid #000;
    border-radius: 2px;
    margin-bottom: 57px;
}

.header__img img {
    width: 100%;
}

.section-float .article {
    margin-right: 3px;
}

.article__heading {
    color: #a11414;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.article__text {
    color: #1d1b1b;
    text-indent: 40px;
    margin-bottom: 7px;
}

.article__text-spec {
    margin-bottom: 31px;
}

.article__text--special {
    text-transform: uppercase;
}

.article__text--mod {
    color: #a11414;
}

.article__text--add {
    text-decoration: line-through;
}

.nav_wrap {
    float: right;
    width: 13%;
    border-radius: 2px 15px;
    background: #D7D7D7;
    padding: 29px 26px;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
}
